.header {
    color: rgb(41, 40, 40,41, 40, 40);
    font-weight: bolder;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
}

body {
    background-image: url("./images/foggy-forest.jpg");
    background-size: cover;
}

.container {
    opacity: .85;
}